* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 80px;
}

.navbar {
    background-color: #432C7A;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links a:hover {
    color: #FF8FB1;
}

.container {
    background-color: white;
    padding: 50px; /* Inner padding for content */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 40px auto; /* Center the container horizontally and add margin above and below */
    padding-top: 50px; /* Extra padding inside the container at the top */
    padding-bottom: 50px; /* Extra padding inside the container at the bottom */
}


h1 {
    color: #432C7A;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.input-container {
    margin-bottom: 20px;
}


input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FF8FB1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #80489C;
    transform: translateY(-2px);
}

.error {
    color: red;
    font-size: 0.85rem;
    display: none;
    margin-top: 5px;
}

#otpSection {
    margin-top: 20px; /* Adjust this value as needed */
}
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    button {
        font-size: 14px;
    }
}
